<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-customurlscheme" version="5.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Custom URL scheme</name>
    <description>
        Launch your app by using this URL:  mycoolapp://
        You can add a path and even pass params like this: mycoolerapp://somepath?foo=bar
    </description>
    <author>Eddy Verbruggen</author>
    <license>MIT</license>
    <keywords>Custom URL Scheme, URLscheme, URL scheme, Custom URL, Launch My App, Launch App</keywords>
    <repo>https://github.com/EddyVerbruggen/Custom-URL-scheme.git</repo>
    <issue>https://github.com/EddyVerbruggen/Custom-URL-scheme/issues</issue>
    <preference name="URL_SCHEME"/>
    <engines>
        <engine name="cordova" version="&gt;=3.0.0"/>
    </engines>
    <platform name="android">
        <preference default=" " name="ANDROID_SCHEME"/>
        <preference default=" " name="ANDROID_HOST"/>
        <preference default="/" name="ANDROID_PATHPREFIX"/>
        <js-module name="LaunchMyApp" src="www/android/LaunchMyApp.js">
            <clobbers target="window.plugins.launchmyapp"/></js-module>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="LaunchMyApp">
                <param name="android-package" value="nl.xservices.plugins.LaunchMyApp"/>
            </feature>
        </config-file>
        <source-file src="src/android/nl/xservices/plugins/LaunchMyApp.java" target-dir="src/nl/xservices/plugins"/>
        <config-file parent="/manifest/application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="$URL_SCHEME"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="$ANDROID_HOST" android:pathPrefix="$ANDROID_PATHPREFIX" android:scheme="$ANDROID_SCHEME"/>
            </intent-filter>
        </config-file>
    </platform>
    <platform name="windows8">
        <preference default="www/index.html" name="WINDOWS_START_PAGE"/>
        <config-file parent="/Package/Applications/Application/Extensions" target="package.appxmanifest">
            <Extension Category="windows.protocol" StartPage="$WINDOWS_START_PAGE">
                <Protocol Name="$URL_SCHEME"/></Extension>
        </config-file>
        <js-module name="LaunchMyApp" src="www/windows/LaunchMyApp.js">
            <clobbers target="window.plugins.launchmyapp"/></js-module>
    </platform>
    <platform name="windows">
        <preference default="www/index.html" name="WINDOWS_START_PAGE"/>
        <config-file parent="/Package/Applications/Application/Extensions" target="package.windows.appxmanifest">
            <uap:Extension Category="windows.protocol" StartPage="$WINDOWS_START_PAGE">
                <uap:Protocol Name="$URL_SCHEME"/></uap:Extension>
        </config-file>
        <config-file parent="/Package/Applications/Application/Extensions" target="package.windows10.appxmanifest">
            <uap:Extension Category="windows.protocol" StartPage="$WINDOWS_START_PAGE">
                <uap:Protocol Name="$URL_SCHEME"/></uap:Extension>
        </config-file>
        <config-file parent="/Package/Applications/Application/Extensions" target="package.phone.appxmanifest">
            <uap:Extension Category="windows.protocol" StartPage="$WINDOWS_START_PAGE">
                <uap:Protocol Name="$URL_SCHEME"/></uap:Extension>
        </config-file>
        <js-module name="LaunchMyApp" src="www/windows/LaunchMyApp.js">
            <clobbers target="window.plugins.launchmyapp"/></js-module>
    </platform>
    <platform name="wp8">
        <config-file parent="/*" target="config.xml">
            <feature name="CustomUriMapperCommand">
                <param name="wp-package" value="CustomUriMapperCommand"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file after="Tokens" parent="/Deployment/App" target="Properties/WMAppManifest.xml">
            <Extensions>
                <Protocol Name="$URL_SCHEME" NavUriFragment="encodedLaunchUri=%s" TaskID="_default"/>
            </Extensions>
        </config-file><source-file src="src/wp8/CompositeUriMapper.cs"/>
        <source-file src="src/wp8/ICustomUriMapper.cs"/>
        <source-file src="src/wp8/CustomUriMapperCommand.cs"/>
        <js-module name="LaunchMyApp" src="www/wp8/LaunchMyApp.js">
            <clobbers target="window.plugins.launchmyapp"/>
        </js-module><hook src="src/wp8/hooks/add-uri-mapper.js" type="after_plugin_install"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Custom URL scheme">
                <param name="ios-package" value="Custom URL scheme"/>
            </feature>
        </config-file>
        <source-file src="src/ios/CustomUrlScheme.m"/>
    </platform>
</plugin>
